body,
html {
	background-color: #36393E!important;
	color: #fff!important
}

.grid_page {
	background-color: #36393E!important;
	color: #fff!important
}

element.style {
	background-color: #36393E!important;
	color: #fff!important
}

body.feed_card_on,
.SiteHeader .ExpandedAnswer .ExpandedQText .show_nub {
	background-color: #36393E!important;
	color: #fff!important
}

body.feed_card_on .Bundle .singleton_bundle .feed_item .qtext_para .white_bg .hover_menu .hidden {
	background-color: #36393E!important;
	color: #fff!important
}

#__w2_RiMaoNw_menu,
#__w2_modal_container_ {
	background-color: #36393E!important;
	color: #fff!important
}

.NavListItem .HomeNavListItem .EditableListItem .not_removable .hover_menu_contents .ContentWrapper .SiteHeader .LoggedInSiteHeader .new_header {
	background-color: #36393E!important;
	color: #fff!important
}

.answer_auto_expanded_comments .threaded_comments .threaded_comments.answer_auto_expanded_comments {
	background-color: #36393E!important;
	color: #fff!important
}

body.feed_card_on .Bundle .singleton_bundle .feed_item {
	background-color: #484D53!important;
	color: #fff!important;
	border-color: #484D53!important
}

body.feed_card_on .Bundle .full_bundle {
	background-color: #484D53!important;
	color: #fff!important;
	border-color: #484D53!important
}

.Bundle .section_header {
	border-bottom-color: #36393e
}

.grid_page h3 {
	color: #fff!important;
	border: 0!important
}

.EditableList .nav_item_selected a,
.EditableList .StaticListItem>.selected {
	background-color: #484D53!important;
	color: #fff!important
}

.threaded_comments.answer_auto_expanded_comments {
	background-color: #484D53!important;
	color: #fff!important
}

.ActionBar.sticky {
	background-color: #36393E!important;
	color: #fff!important;
	padding: 10px!important;
	padding-left: 10px!important;
	left: 23%!important;
	border-radius: 3px!important
}

.comments_preview_toggle {
	background-color: #484D53!important;
	border: solid!important;
	border-color: #36393E!important;
	border-bottom: .2px!important;
	border-left: 0!important;
	border-right: 0!important;
	color: #fff!important;
	border-radius: 3px
}

.Answer.AnswerBase {
	background-color: #484D53!important;
	color: #fff!important;
	border-radius: 3px!important;
	border: 0!important;
	padding: 30px!important;
	margin-top: 10px!important
}

.question_related.list {
	background-color: #36393E!important
}

.RelatedQuestions.more_link,
#__w2_iVUFJoM_more {
	background-color: #36393E!important;
	color: #fff!important
}

span.rendered_qtext {
	color: grey
}

p.qtext_para {
	color: #fff
}

a.user {
	color: #fff!important
}

.container {
	background-color: #484D53!important
}

li.ReasonedCarouselItem.CarouselItem.UserCarouselItem {
	background-color: #36393E!important
}

.IdentityCredential.UserCredential {
	color: #fff
}

.BetterUserHoverMenuContents.ObjectCard {
	background-color: #484D53!important
}

.SiteHeader.LoggedInSiteHeader.new_header {
	background-color: #323335!important;
	border-color: #484D53!important
}

body.feed_card_on .AddQuestionPrompt {
	background-color: #484D53!important;
	border: 0!important
}

.modal_content {
	background-color: #484D53!important;
	color: #fff;
	border: 0!important
}

.selector_input .text {
	background-color: #484D53!important;
	color: #fff
}

textarea {
	background-color: #484D53!important
}

input {
	background-color: #484D53!important
}

.modal_footer {
	background-color: #36393E!important;
	border: 0!important
}

.Editor .section {
	background-color: #484D53!important;
	border-color: #484D53!important;
	padding: 10px!important
}

.Comment .Editor .edit_latex .web {
	background-color: #484D53!important;
	border-color: #484D53!important;
	padding: 10px!important
}

.editor_wrapper .doc .empty {
	background-color: #484D53!important;
	border-color: #484D53!important;
	padding: 10px!important
}

.add_root_comment {
	background-color: #484D53!important;
	border-color: #484D53!important;
	padding: 10px!important
}

.comment_wrapper .show_child_link {
	background-color: #484D53!important;
	border: 0!important
}

.web_page .Editor.Comment {
	background-color: #484D53!important
}

.Bundle .section_header {
	border: 0!important
}

.header_text_main {
	color: #fff!important
}

.SuggestedUsersBundle .CarouselItem,
.SuggestedTopicsBundle .CarouselItem {
	border-color: #36393E!important;
	border: .5px dotted
}

.hover_menu .ObjectCard .ObjectCard-footer {
	background-color: #484D53!important;
	border-color: #36393E!important;
	border-top: .5px dotted!important
}

.answer_count {
	color: #fff!important
}

.prompt_title {
	color: #fff!important
}

.ContentPageFeed {
	background-color: #36393E!important
}

.topic_pill {
	background-color: #484D53!important
}

.Modal .modal_header,
.Modal .modal_content,
.Modal .modal_content .modal_body {
	background-color: #484D53!important
}

.modal_title {
	color: #fff!important
}

.count {
	background-color: #484D53!important
}

.RADToggle {
	background-color: #484D53!important;
	border: 0!important;
	color: #fff!important
}

.Button.WriteAnswer {
	background-color: #484D53!important;
	border: 0!important;
	color: #fff!important
}

.threaded_comments {
	background-color: #484D53!important;
	border: 0!important;
	color: #fff!important
}

.RequestAnswersDrawer .inner {
	background-color: #484D53!important;
	border: 0!important;
	color: #fff!important
}

.request_answers_list_item .name_sig .user {
	color: #fff!important
}

.hover_menu .ObjectCard {
	background-color: #484D53!important
}

.hover_menu .ObjectCard .ObjectCard-footer .follow_button {
	background-color: #484D53!important
}

.follow_button {
	background-color: #484D53!important;
	border-color: #36393E!important;
	color: #fff!important
}

.MessagesMain .threads_and_messages .threads {
	background-color: #36393E!important;
	border: 0!important
}

.MessagesMain .header .header_left {
	background-color: #36393E!important;
	color: #fff!important
}

.messages_title {
	color: #fff!important
}

.header_right {
	background-color: #36393E!important;
	border: 0!important
}

.NewInboxThreadComposeMessageBox {
	background-color: #36393E!important
}

.Editor .doc {
	background-color: #484D53!important
}

.MessagesThreadItem.unread {
	background-color: #36393E!important;
	color: #fff!important
}

.MessagesThreadItem {
	background-color: #484D53!important;
	border: 0!important;
	color: #fff!important;
	margin: 2px!important;
	border-radius: 3px
}

.layout_3col_center .list_header {
	color: #fff!important
}

.BoardSettingsList .create_blog_item .content_wrapper .headline a,
.UserBoardMain .create_blog_item .content_wrapper .headline a,
.BoardSettingsList .BoardMainCreateBlogItem .content_wrapper .headline a,
.UserBoardMain .BoardMainCreateBlogItem .content_wrapper .headline a {
	color: #fff!important
}

.UserContentFilter a.selected {
	color: #fff!important
}

.StatsMain .FilterMain .title {
	color: #fff!important
}

.StatsMain .FilterMain .Filter .menu_link {
	color: #fff!important
}

.StatsMain .stats_side .ContentListWrapper {
	background-color: #36393E!important;
	border: 0!important
}

.StatsMain .stats_side .ContentListWrapper .AllContentLink.is_active {
	background-color: #36393E!important;
	border: 0!important
}

.StatsMain .stats_side .ContentListWrapper .ContentListItem {
	background-color: #36393E!important;
	border: 0!important
}

.AllContentLink {
	background-color: #36393E!important;
	border: 0!important
}

.heads_up_item {
	background-color: #484D53!important;
	border: 0!important
}

.ui_headers_base {
	color: #fff!important
}

.PrivacySettings .ts_gutter_header {
	color: #fff!important
}

.ActionBar .primary_action {
	background-color: #484D53!important;
	color: #fff!important
}

.Notif {
	background-color: #484D53!important;
	color: #fff!important;
	border-radius: 3px;
	margin: 2px;
	border: 0
}

.SimpleTabs .title {
	color: #fff!important
}

body.feed_card_on .Bundle .full_bundle {
	border: 0!important
}

.AnswerSurvey {
	background-color: #36393E!important;
	border: 0!important;
	color: #fff!important
}

.title_text {
	color: #fff!important
}

.BelowQuestionAddPrompt {
	background-color: #36393E!important;
	border: 0!important
}

.BelowQuestionAddPrompt .ask_question_input .AskQuestionButton {
	background-color: #484D53!important;
	color: #fff!important;
	border-left: 0!important
}

.follow_button,
.ama_a2a_question,
.Topic.Button,
.Session.Button,
.User.Button,
.PileOnRequest.Button {
	background-color: #484D53!important;
	color: #fff!important
}

.NotEnoughKnowsAboutTopicsPrompt {
	background-color: #484D53!important;
	border: 0!important
}

.Button.CantAnswer {
	background-color: #484D53!important;
	border: 0!important;
	color: #fff!important
}

.write_page_header {
	color: #fff!important
}

body.feed_card_on .A2ARequestsList .feed_item,
body.feed_card_on .QuestionListItem .feed_item,
body.feed_card_on .AnswerListItem .feed_item,
body.feed_card_on .BoardListItem .feed_item,
body.feed_card_on .TopicFeed .feed_item,
body.feed_card_on .questions_feed .feed_item,
body.feed_card_on .RecentlyAskedQuestions .feed_item,
body.feed_card_on .HipriHumanA2ARequestsList .feed_item,
body.feed_card_on .LowpriHumanA2ARequestsList .feed_item,
body.feed_card_on .WritingListMain .WritingList.PagedList .feed_item,
body.feed_card_on .A2ARequestsList.feed_item,
body.feed_card_on .QuestionListItem.feed_item,
body.feed_card_on .AnswerListItem.feed_item,
body.feed_card_on .BoardListItem.feed_item,
body.feed_card_on .TopicFeed.feed_item,
body.feed_card_on .questions_feed.feed_item,
body.feed_card_on .RecentlyAskedQuestions.feed_item,
body.feed_card_on .HipriHumanA2ARequestsList.feed_item,
body.feed_card_on .LowpriHumanA2ARequestsList.feed_item,
body.feed_card_on .WritingListMain .WritingList.PagedList.feed_item {
	background-color: #484D53!important;
	border: 0!important
}

.InteractionModeBanner>div,
.ErrorBanner>div,
.BrowserWarning>div {
	background-color: #484D53!important;
	border: 0!important
}

.dialog .dialog_wrapper {
	background-color: #484D53!important
}

.EditableList.is_editing .EditableListItem.is_removable .remove_link {
	background-image: none!important
}

.AnonLinkBanner .banner_extra_info {
	background-color: #484D53!important
}

.answer_editor .form_buttons {
	background-color: #36393E!important
}

.AnswerEditorHeader {
	background-color: #36393E!important
}

.editor_toolbar .bar {
	background-color: #36393E!important
}

.editor_toolbar .modifier {
	border: 0!important
}

.upper_content .content_button {
	background-color: #484D53!important
}

.FeedBottomIndicator {
	background-color: #484D53!important;
	border: 0
}

.new_user_checklist {
	background-color: #484D53!important;
	border: 0!important
}

.HomePageSignupForm {
	background-color: #484D53!important;
	border: 0!important
}

div.FooterNav {
	background-color: #484D53!important;
	border-top: 0!important
}

.HomepageSignupNetworkRedirectLink {
	border-top: 0!important
}

.HomepageSignupNetworkRedirectLink:hover {
	background-color: #42464B!important;
	border-top: 0!important
}

h2 {
	color: #fff!important
}

.new_user_checklist .title {
	background-color: #42464B!important;
	border: 0!important
}

.Bundle:hover .more_button:hover {
	background-color: #42464B!important
}

.hyperlink_footer_link_down:hover {
	background-color: #42464B!important
}

.outer_content_box .content_button {
	background-color: #42464B!important;
	border: 0!important;
	color: #DDD!important
}

.StaticPageNavigation .HorizontalTabs .linked_list_item:nth-child(even) {
	background-color: #36393E!important
}

.StaticPage.FeedbackMain select {
	background-color: #42464B!important;
	border-color: #42464B!important;
	color: #DDD!important
}

.SitemapIndexMain dl dt {
	border-bottom: #36393E!important
}

.SitemapIndexMain dl dd a {
	color: #2b6dad!important
}

.UserAddedLinksAnnouncement.Announcement {
	background-color: #484d53!important;
	border: 0
}

.UnverifiedNameBanner {
	background-color: #484d53!important;
	border: 0!important
}

.hover_menu_title {
	background-color: #484d53!important;
	border: 0!important
}

.Notif.unseen {
	border-width: 0!important
}

.JoinPage {
	background-color: #42464B!important
}

.SiteHeader {
	background-color: #42464B!important
}

.modal_nux_background {
	background-color: #000!important
}

.search_row {
	background-color: #484d53!important;
	border-bottom: 0!important
}

.modal_header {
	border-bottom: 0!important
}

.match_inner {
	background-color: #484d53!important;
	border-bottom: 0!important
}

.match {
	background-color: #484d53!important;
	border-bottom: 0!important
}

.selector_result {
	background-color: #484d53!important;
	border-bottom: 0!important
}

.selector_result.selector_highlighted {
	background-color: #484d53!important
}

.InviteModalLink {
	background-color: #484d53!important;
	border: 0!important
}

.fake_input {
	background-color: #484d53!important;
	border: 1px #bfbfbf!important
}

.notif_dropdown_empty_state {
	background-color: #484d53!important;
	border: 0!important
}

.add_experience_cta {
	background-color: #484d53!important;
	color: #fff!important
}

.icon_action_bar-button {
	padding: 4px 6px!important;
	margin: 4px 6px
}

.icon_action_bar-button:hover {
	margin: 0;
	transition: padding .2s;
	padding: 8px 12px!important;
	background-color: #a7aaaf!important
}

.nav_item_link:hover {
	background-color: #484d53!important
}

.PinnedTopicHeader {
	background-color: #484d53!important;
	border: 0px!important;
}

.TopicPageNavBar {
	background-color: #484d53!important;
}
